<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
       <string>We need access to the camera to recognize objects.</string>
       <key>UIAppFonts</key>
       <array>
           <string>NewYork.ttf</string>
       </array>
       <key>UIAppFonts</key>
       <array>
           <string>Chalkboard.ttc</string>
       </array>
       <key>UIAppFonts</key>
       <array>
           <string>NewYorkLarge-Medium.otf</string>
       </array>
    <key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>info</string>
		</dict>
	</array>
</dict>
</plist>
